app.js
node_modules
package-lock.json
yarn.lock
/config/*.js
/config/*.json
/controllers/*.js
/interfaces/*.js
/log/*.js
/middleware/*.js
/models/*.js
/models/subSchemas/*.js
/routes/*.js
/test/controllers/*.js