app.js
node_modules
package-lock.json
yarn.lock
/config/*.js
/config/*.json
/controller/*.js
/log/*.js
/middleware/auth/*.js
/middleware/error/*.js
/model/*.js
/model/sub-schemas/*.js
/model/validators/custom-validator/*.js
/model/validators/schema-validator/*.js
/model/validators/joi-validator/*.js
/routes/*.js
/test/*.js
.vscode